#app > section {
  box-sizing: border-box;
}

#search-container {
  height: 100px;
  padding: 1rem;
  /* background-color: color-gradient(#333, #222); */
  background-color: #111;

  display: flex;
  justify-content: center;
  align-items: center;
}

#search-container a {
  position: absolute;
  top: 1rem;
  left: 2rem;
}

#search-container a img {
  height: 66px;
}

#results-container {
  padding: 1rem;
  background-color: #333;
  min-height: calc(100vh - 100px);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#no-results {
  align-self: flex-start;
  color: white;
}