#app > section {
  box-sizing: border-box;
}

#search-container {
  height: 100px;
  padding: .5rem;
  /* background-color: color-gradient(#333, #222); */
  background-color: #111;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  height: 66px;
  width: 66px;
  background-image: url('/logo_simple.png');
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
}
#logo:focus {
  outline: 3px solid var(--primary);
  outline-offset: 3px;
}


@media(min-width: 450px) {
  #search-container {
    height: 100px;
    padding: 1rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
  }
}

#results-container {
  padding: 1rem;
  background-color: #333;
  min-height: calc(100vh - 100px);

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#sort-results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#sort-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sort-label {
  margin: 0;
  color: white;
}

#sort-capsule {
  border: 2px solid var(--primary);
  border-radius: 50px;
  box-sizing: border-box;
  /* padding: .5rem; */
  line-height: 1rem;
  overflow: hidden;
}

#sort-capsule button {
  display: inline-block;
  padding: .2rem .5rem;
  font-size: .8rem;
  color: white;
  background-color: transparent;

  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#sort-capsule button:hover, 
#sort-capsule button:focus {
  background-color: var(--secondary);
  color: var(--tertiary);
  outline: none;
}
#sort-capsule .active {
  background-color: var(--tertiary) !important;
  color: black !important;
}

#no-results {
  align-self: flex-start;
  color: white;
}